{# src/FS/MainBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Foot</h1>

    <hr>

    {% block fsmain_body %}
    {% endblock %}

{% endblock %}